<div class = "main user-show">

<h1>
      Userの詳細画面<br>
      <img src="<%= "/user_images/#{@user.image_name}" %>"><br>
      <%= @user.name %><br>
      <%= @user.email %>
    </h1>

    <%= link_to("user編集","/users/#{@user.id}/edit") %>



<ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

 <% @likes.each do |like| %>

  <% post = Post.find_by(id: like.post_id) %>

  <div>
  <div>
    <img src="<%= "/user_images/#{post.user.image_name}" %>">

  </div>
    <%= link_to(post.user.name, "/users/#{post.user.id}")%>
    <%= link_to(post.title, "/posts/#{post.id}") %>
    <%= post.content %>
  </div>
   <%end%>

</div>