<%= @post.id %>
<div class = "post-time">
<%= @post.created_at %>
</div>
<%= @post.title %><br>
<%= @post.content %><br>
<%= link_to("edit","/posts/#{@post.id}/edit") %>
<%= link_to("deleate","/posts/#{@post.id}/destroy",{method:"post"}) %>


<% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>

  <%= @likes_count %>

 